<div class="container-fluid bg">
  <div class="text-center text-white pt-2">
    <h2><b><i><span class="text-danger">Air</span>Bus</i></b></h2>
  </div>
  <div class="row">
    <div class="col-sm-12 text-light rounded py-12">
      <div class="p-4 md-3">
        <div *ngIf="user">
          <h3><b>Welcome to AirBus! <span class="text-danger"><i>{{user.userName}}</i></span></b></h3>
          <button class="btn btn-danger float-right" (click)="logout()">Logout</button>
          <small><b>User Id: {{ user.userId }}</b></small><br />

        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="jumbotron m-2 p-3">
    <div class="row">
      <div class="col-sm-4">
        <div class="card bg2">
          <div class="card-body">
            <h3 class="card-title">View Bookings</h3>
            <p class="card-text">User can view booking details from here.</p>
            <button class="btn btn-danger" (click)="getBookings()">View Bookings</button>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card bg2">
          <div class="card-body">
            <h3 class="card-title">View User Details</h3>
            <p class="card-text">User can view User details from here.</p>
            <button class="btn btn-danger" routerLink="/viewUser">View Details</button>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card bg2">
          <div class="card-body">
            <h3 class="card-title">Update User Details</h3>
            <p class="card-text">User can update User details from here.</p>
            <button class="btn btn-danger" routerLink="/updateUser">Update Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="jumbotron mt-1 jb1 bg1">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="row justify-content-center">
        <div class="form-group col-sm-3">
          <label for="dep">From</label>
          <input type="text" [class.is-invalid]="
              searchForm.get('departureBusstop').invalid &&
              searchForm.get('departureBusstop').touched
            " placeHolder="Departure Bus Stop" id="dep" class="form-control" formControlName="departureBusstop" />
          <small class="text-danger" *ngIf="
              searchForm.get('departureBusstop').invalid &&
              searchForm.get('departureBusstop').touched
            ">*Mandatory Field</small>
        </div>

        <div class="form-group col-sm-3">
          <label for="ari">To</label>
          <input type="text" [class.is-invalid]="
              searchForm.get('arrivalBusstop').invalid &&
              searchForm.get('arrivalBusstop').touched
            " placeHolder="Arrival Bus Stop" id="ari" class="form-control" formControlName="arrivalBusstop" />
          <small class="text-danger" *ngIf="
              searchForm.get('arrivalBusstop').invalid &&
              searchForm.get('arrivalBusstop').touched
            ">*Mandatory Field</small>
        </div>

        <div class="form-group col-sm-2">
          <label for="date">Date</label>
          <input type="date" id="date" class="form-control" formControlName="date" />

          <div *ngIf="
              searchForm.get('date').invalid && searchForm.get('date').touched
            ">
            <small class="text-danger" *ngIf="searchForm.get('date').errors?.dateError">*Date must be greater than
              current date</small>
          </div>
        </div>
        <div class="form-group col-sm-2 p-2">
          <br>
          <input [disabled]="!searchForm.valid" type="submit" style="width: 200px;" class="btn btn-danger"
            value="Search" />
        </div>
      </div>
    </form>
  </div>

  <h2 class="text-red bg-warning" align="center">{{ notFound }}</h2>

  <div class="jumbotron jb1 bg1" *ngIf="found">
    <div class="row r1">
      <div class="col-6">
        <h6><b>Bus Number:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.busNumber }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>From:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.departureBusstop }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>To:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.arrivalBusstop }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>Departure date:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.departureDate }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>Departure Time:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.departureTime }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>Arrival Date:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.arrivalDate }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>Arrival Time:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.arrivalTime }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>Cost:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.cost | currency:'INR' }}</h6>
      </div>
    </div><br><br>
    <div align="center"><button class="btn btn-danger" (click)="addPassengers()">Add Passengers</button>
    </div>
  </div>
  <br><br>
</div>